@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TBC Contractica CAPS';
  src: url('./fonts/bpg_arial_2009.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica Neue LT GEO Bold';
  src: url('./fonts/Linotype-HelveticaNeueLTGEO75Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica Neue LT GEO Regular';
  src: url('./fonts/HelveticaNeue-Regular.ttf') format('truetype');
}

body {
  font-family: 'TBC Contractica CAPS';
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type='date']:focus::-webkit-inner-spin-button,
input[type='date']:focus::-webkit-calendar-picker-indicator {
  display: unset;
  -webkit-appearance: unset;
}
input[type='number']::-webkit-inner-spin-button {
  display: none;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes start-logo {
  from {
    transform: scale(38);
  }
  to {
    transform: scale(1);
  }
}

@keyframes start-questionare-text {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes identification-img {
  from {
    transform: translate(-130px, 20px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes covid-img {
  from {
    transform: translate(430px, 0px);
    opacity: 0.5;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes vaccinate-img {
  from {
    transform: translate(0px, 200px);
    opacity: 0.3;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes advices-img {
  from {
    opacity: 0.3;
    transform: translate(-100px, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes left-star {
  from {
    opacity: 0.3;
    transform: translate(140px, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes right-star {
  from {
    opacity: 0.3;
    transform: translate(-140px, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.start {
  animation: start-logo 0.4s ease-out forwards;
}

.start-questionare-text {
  animation: start-questionare-text 1s forwards 1s;
}

.start-questionare-text:hover {
  text-shadow: 2px 1px #eaeaea, 3px 2px #232323;
}

.identification-img {
  animation: identification-img 0.4s ease-out;
}

.covid-img {
  animation: covid-img 0.4s ease-out;
}
.vaccinate-img {
  animation: vaccinate-img 0.4s ease-out;
}
.advices-img {
  animation: advices-img 0.4s ease-out;
}
.left-star {
  animation: left-star 0.4s ease-out;
}
.right-star {
  animation: right-star 0.4s ease-out;
}
